## CREDENTIALS
CRED_TOKEN=

## GUILDS
GUILD_XYZCRAFT=

## ROLES
ROLE_LEITUNG=
ROLE_ENTWICKLUNG=
ROLE_PROBEENTWICKLUNG=
ROLE_MODERATION=
ROLE_SUPPORT=
ROLE_PROBESUPPORT=
ROLE_BAUTRUPP=
ROLE_PROBEBAUTRUPP=
ROLE_GESTALTUNG=
ROLE_TEAM=

ROLE_HR_LEITUNG=
ROLE_HR_ENTWICKLUNG=
ROLE_HR_BAUTRUPP=
ROLE_HR_SOCIALMEDIA=

## CHANNELS
CHANNEL_DASTEAM=
CHANNEL_TICKET=

## Categories
CATEGORY_TICKETS=

## URLS
URL_AUFBAUORGANISATION=