## GUILDS
GUILD_XYZCRAFT=

## ROLES
ROLE_LEITUNG=
ROLE_ENTWICKLUNG=
ROLE_PROBEENTWICKLUNG=
ROLE_MODERATION=
ROLE_SUPPORT=
ROLE_PROBESUPPORT=
ROLE_BAUTRUPP=
ROLE_PROBEBAUTRUPP=
ROLE_GESTALTUNG=
ROLE_TEAM=

## CHANNELS
CHANNEL_DASTEAM=